body  {
    height: 100%;
    background-color: #4D7EA8;
    /* TEXT APPERARANCE AND SIZE */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 0;
  }

  header {
    height: 100px;
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    background: #152547;
    box-shadow: 0 3px 7px -3px #101624;
    padding: 0 10px 0 10px;
  }

  @media only screen and (max-width: 960px) {
    header {
      height: 200px;
    }

    nav {  
      font-size: 15px;
    }

  }
  #home_button  {
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
  }

  #home_button > a {
    color: white;
  }
  #home_button >a:hover {
    background: 
    linear-gradient(90deg, #DC3F3D, #E65F5C);
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    transition: filter 800ms;
  }

  
  header nav {
    display: flex;
    align-items: center;
    right: 10%;
  }

  #home {
    flex-flow: wrap;
    padding: 242.4px 40px 142.4px 40px;
    flex-direction: row;
    justify-content: space-around;
  }

  #intro {
    width: 400px;
  }

  #avatar_img {
    /* PULSING EFFECT ON IMAGE */
    border-radius: 50%;
    background-color: #101624;
    animation: pulse 1500ms infinite;
  }

  #avatar_img:hover {
    /* PULSING EFFECT DISSAPEARENCE WHILE HOVERING */
    background-color: transparent;
    animation: none;
  }

  /* PULSING EFFECT KEYFRAMES */
  @keyframes pulse {
    0% {
      box-shadow: #101624 0 0 0 0;
    }
    75% {
      box-shadow: #10162400 0 0 0 16px;
    }
  }


  #languages {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background: #152547;
    box-shadow: 0 3px 7px -3px #101624, 0 -3px 7px -3px #101624;
  }

  #projects {
    padding: 182.4px 0 172.4px 0;
    text-align: center;
    margin: 0px 0px 10px 0;
  }
  #projects_menu { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .projects_examples {
    display: inline-block;
    margin: 15px;
    background-color: #101624;
    width: 300px;
    animation: none;
    height: 300px;
    padding: 20px;
  }
  .projects_examples:hover {
    /* PULSING EFFECT ON PROJECT EXAMPLES*/
    background-color: #101624;
    animation: pulse 1500ms infinite;
  }
  nav a {
    padding: 10px;
  }
  
  #contact {
    flex-flow: wrap;
    background:#152547;
    justify-content: space-around;
    padding: 0 10px 0 10px;
    margin: auto;
    box-shadow: 0 3px 7px -3px #101624, 0 -3px 7px -3px #101624;
  }
  
  #contact div {
    padding: 20px;
  }

  #about {
    justify-content: space-around;
    box-shadow: 0px -3px 7px -3px #101624;
  }
  i {
    font-size: 50px;
  }
  a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#4D7EA8, #152547);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;

    transition: background-size 500ms;
  }

  a:hover {
    /* LINK ANIMATION */
    background-size: 100% 100%;
    background-position-x: left;
  }

  #intro, #home img, #projects_menu {
    margin: 20px;
  }
  #intro h1, #projects h1 {
    margin-bottom: 60px;
  }
  #about, header, #home, #contact, #about{
    display: flex;
  }

  input { 
    height: 20px;
  }

