html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: #10253e;
  /* TEXT APPERARANCE AND SIZE */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  margin: 0;
}

/* SECTION ANIMATION */
section {
  padding: 40px 0;
  transition: background-color 0.5s ease-in-out;
  background: #101624;
  height: fit-content;
}

/* SECTION ANIMATION */

#move-up {
  display: none;
  position: fixed;
  top: 75vh;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px white;
  text-align: center;
  line-height: 50px;
}


#move-up .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid;
    border-top: 2px solid;
    transform: rotate(-45deg); 
}

#hero {
  height: 100vb;
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
.click-button {
  margin: 10px;
  padding: 10px;
  background-color: #10253e;
}

.click-button:hover {
  animation: pulse-button 1500ms infinite;
}

header {
  height: 110px;
  top: 0;
  left: 0;
  right: 0;
  background: #101624;
  padding: 0 10px 0 10px;
  position: fixed;
  z-index: 1;
  transition: background-color 0.5s ease-in-out;
}

header h2 {
  margin: 10px 0 0 0;
  display: flex;
  align-self: center;
}

/* HEADER ANIMATION */
header.background-transition {
  background-color: #10253e;
}

/* HEADER ANIMATION */

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav a {
  font-weight: bold;
  font-size: 18px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-11px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-11px, -6px);
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 8px 0;
  background-color: white;
  transition: transform 0.3s ease-out;
}

.menu-overlay {
  position: absolute;
  top: 110px;
  width: 100%;
  height: 77vh;
  display: none;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  z-index: 99;
  background: #101624;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.menu-overlay a {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  header nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu-overlay {
    display: none;
    transform: translateX(110%);
  }

  .menu-overlay.show {
    transform: translateX(0);
  }
}

/* NAVBAR */

#home_button {
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

#home_button>a {
  color: white;
}

#home_button>a:hover {
  background:
    linear-gradient(90deg, #DC3F3D, #E65F5C);
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  transition: filter 800ms;
}

#home {
  flex-direction: row;
  justify-content: space-around;
}

#intro {
  width: 400px;
}

.intro-text {
  padding: 10px;
  margin: 15px;
}

#hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

#avatar_img {
  object-fit: contain;
}

/* PULSING EFFECT KEYFRAMES */
@keyframes pulse {
  0% {
    box-shadow: #101624 0 0 0 0;
  }

  75% {
    box-shadow: #10162400 0 0 0 16px;
  }
}

@keyframes pulse-button {
  0% {
    box-shadow: #10253e 0 0 0 0;
  }

  75% {
    box-shadow: #10253e00 0 0 0 16px;
  }
}


#skills {
  text-align: center;
  justify-content: space-around;
  background: #101624;
}

#projects {
  text-align: center;
  margin: auto;
}

#projects_menu {
  display: flex;
  padding: 0;
}

.projects_examples {
  display: inline-block;
  margin: 15px;
  background-color: #101624;
  width: 300px;
  animation: none;
  height: 320px;
  padding: 20px;
}

.projects_examples>a {
  bottom: 0;
}

.projects_examples:hover {
  /* PULSING EFFECT ON PROJECT EXAMPLES*/
  background-color: #101624;
  animation: pulse 1500ms infinite;
}

nav a {
  padding: 10px;
}

#correspondence {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  width: 50%;
}

#submit-button {
  margin: 10px 0;
  font-size:medium;
  width: 75px;
  height: 40px;
  border-radius: 10%;
  border: solid 2px white;
}

#contact div {
  padding: 20px;
}

#about {
  padding: 10px 0;
  background: #10253e;
  justify-content: space-around;
}

.language_icons {
  flex-direction: column;
  padding: 30px;
}

i {
  padding: 10px;
  font-size: 50px;
}

a, #submit-button {
  color: white;
  text-decoration: none;
  background: linear-gradient(#4D7EA8, #152547);
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position-x: right;

  transition: background-size 500ms;
}

a:hover {
  /* LINK ANIMATION */
  background-size: 100% 100%;
  background-position-x: left;
}

header, .menu-overlay, #move-up, #submit-button {
  box-shadow: 0 3px 7px -3px #101624;
}

#intro,
#home img,
#projects_menu {
  margin: 20px;
}

#hero h1 {
  margin: 0;
}

#intro h1,
#projects h1 {
  margin-bottom: 60px;
}

header,
#hero,
#home,
.skillset,
.language_icons,
#contact,
#about {
  display: flex;
}

header, #home, .skillset, #projects_menu, #contact {
  flex-flow: wrap;
  justify-content: center;
}

input, textarea {
  width: 100%;
}